*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  hsl(30, 54%, 90%);
}
.main-content{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    padding:4px;
    flex-direction: column;
    border-radius: 8px;
    max-width: 50%;
    margin: 6rem 0;
}
img{
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    background-size: cover;
    margin-bottom: 8px;
    border-radius:8px ;
    /* margin-left: 24px; */
    
}
section{
    margin: 16px;
}
h1{
    font-size: 32px;
    font-family: "Young Serif", serif;
    font-weight: 500;
    color:  hsl(24, 5%, 18%);
    margin-bottom: 16px;
}
.omelette-intro p{
    margin: 0;
    font-family: " Serif",outfit;
    margin-bottom: 24px;
    color: hsl(36, 2%, 54%);
}
.preparation h3{
    color: hsl(332, 51%, 32%);
    margin-bottom: 16px;
}
.preparation{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    font-family: " Serif",outfit;
    background-color: hsl(330, 100%, 98%);
    border-radius: 12px;
    color: hsl(30, 10%, 34%);
}
.preparation ul{
    padding-left: 24px;

}
.preparation li::marker{
    color: hsl(332, 51%, 32%);
    font-size: 16px;
}
.preparation li{
    margin-bottom: 8px;
}
.ingredients{
    display: flex;
    flex-direction: column;
}
.ingredients h2{
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    font-weight: 400;
    margin-bottom: 12px;
}
.ingredients li{
    font-family: " Serif",outfit;
    color: hsl(30, 10%, 34%);
    padding-left: 12px;
    margin-bottom: 12px;
}
.ingredients ul{
    padding-left: 20px;
}
.ingredients li::marker{
    color: hsl(14, 45%, 36%);
}
.ingredients hr{
    margin-top: 12px;
}
.instructions h2{
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}
.instructions ol{
    font-family: " Serif",outfit;
    margin-top: 24px;
    margin-left: 24px;
}
.instructions li{
    margin-bottom: 12px;
    color: hsl(30, 10%, 34%);
}
.instructions hr{
    margin-top: 32px;
}
.instructions li::marker{
    color:hsl(14, 45%, 36%);

}
.nutrition h2{
    font-family: "Young Serif", serif;
    color:hsl(14, 45%, 36%);
    font-weight: 400;
}
.nutrition-table div{
    display: flex;
    justify-content: space-between;
}
.nutrition p{
    color: hsl(36, 2%, 54%);
    font-family: " Serif",outfit; 
    margin-bottom: 12px;
    margin-top: 12px;
}
.nutrition hr{
    margin-top: 16px;
}
.nutrition-table{
    margin: 24px auto;
}
.nutrition-components,.nutrition-value{
    font-family: " Serif",outfit; 
    flex-basis: 50%;
}
.nutrition-components{
    align-items: flex-end;
    color: hsl(36, 2%, 54%);
}
.nutrition-value{
    color:hsl(14, 45%, 36%);
    font-weight: bold;
}
hr{
    opacity: 0.3;
}
